if SHIELD_STARBOY

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "starboy"

endif
CONFIG_ZMK_IDLE_TIMEOUT=50000
CONFIG_ZMK_PM_SOFT_OFF=y

if BOARD_NICE_NANO_V2 && SHIELD_STARBOY

config SPI
    default y

endif
